<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Arduino Weather</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("grafico_temperatura", {

                title: {
                    text: "Temperatura"
                },
                axisX: {
                    valueFormatString: "HH:mm"
                },

                data: [//array of dataSeries
                    { //dataSeries object
                        name: "Temperatura",
                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "line",
                        color: "#8f2600",
                        dataPoints: [<%= datosTemperatura %>]
                    }
                ]
            });

            chart.render();

            var chart2 = new CanvasJS.Chart("grafico_humedad", {

                title: {
                    text: "Humedad"
                },
                axisX: {
                    valueFormatString: "HH:mm"
                },
                data: [//array of dataSeries
                    { //dataSeries object
                        name: "Humedad",
                        color: "#00878f",
                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "line",
                        dataPoints: [<%= datosHumedad %>]
                    }
                ]
            });

            chart2.render();

        }
    </script>
    <script type="text/javascript" src="canvasjs/jquery.canvasjs.min.js"></script>

</head>
<body>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>arduino-weather</h1>
        <p>Un experimento con <a href="http://www.arduino.cc/">Arduino</a> y <a href="https://parse.com/">Parse</a>. Código fuente <a href="https://github.com/ijaureguialzo/arduino-weather">disponible en GitHub</a>.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="grafico_temperatura" style="height:360px;"></div>
        </div>
        <div class="col-md-6">
            <div id="grafico_humedad" style="height:360px;"></div>
        </div>
    </div>
    <hr/>
    <footer>
        <p>&copy; Ion Jaureguialzo Sarasola 2015</p>
    </footer>
</div>
<!-- /.container -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
