{
  "global": {
    "parseVersion": "1.4.2"
  },
  "applications": {
    "_default": {
      "link": "arduino-weather"
    },
    "arduino-weather": {
      "applicationId": "",
      "masterKey": ""
    }
  }
}
